<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654611912375-grb4a9782on5f7ipqk0hikdct1prfomc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654611912375-grb4a9782on5f7ipqk0hikdct1prfomc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654611912375-74hgjqc0o2ntnrpu29tocad4r0d1h507.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR5QR7xt2yNgF0ztsqZLHWgvOKgKfkWy4</string>
	<key>GCM_SENDER_ID</key>
	<string>654611912375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choppstation.choppstationuser</string>
	<key>PROJECT_ID</key>
	<string>beermatic-8da34</string>
	<key>STORAGE_BUCKET</key>
	<string>beermatic-8da34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654611912375:ios:02d3f66433f1c7224e1f32</string>
	<key>DATABASE_URL</key>
	<string>https://beermatic-8da34-default-rtdb.firebaseio.com</string>
</dict>
</plist>